- content_for(:title) do
  News

- content_for(:js) do
  :javascript
    $(document).ready(function() {
      Site.detectDevice();
      if ( !$('html').hasClass('phone') ) {
        Site.showCurrentPage();
      }
    });

%h1 News
%p Please check back soon for a major update of this website.
