@import "compass/reset"
@import "compass/typography/lists/horizontal-list"
@import "compass/css3"

.fancybox-outer
  +border-radius(20px)
  +opacity(0.5)

$default-font-size: 12px

=font-sizing($size: $default-font-size)
  font-size: $size
  line-height: 1.5 * $size
  margin-bottom: $size

html, body
  background-color: black
  font-family: "Abadi MT W02 Exra Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
  +font-sizing

h1
  +font-sizing(24px)

p, ol, ul, blockquote, pre, code
  +font-sizing(16px)

#site
  margin-top: 80px

#visual
  text-align: center
  img
    +border-radius(20px)
    +box-shadow(#70829A 0px 0px 50px)

ol.nav, #page
  display: none

#footer
  +font-sizing(10px)
  text-align: center
  margin-top: 10px
  color: white
  letter-spacing: 1px

// Smartphones (portrait)
@media only screen and (max-width: 320px)
  html, body
    margin: 0
    padding: 0
  body
    background: url('/img/320_480.png') no-repeat fixed
    min-height: 480px
  h1
    margin-bottom: 10px
  #site
    padding: 10px
    margin-top: 0
    min-height: 480px
    background-color: #F9F9F9
    +opacity(0.5)
  #visual
    display: none
  ol.nav
    display: block
    +horizontal-list
    margin-bottom: 5px
    a
      color: black
  #page
    display: block
  #footer
    margin: 0
    background-color: #F9F9F9
    +opacity(0.5)
    color: black

// Smartphones (landscape)
@media only screen and (min-width: 321px) and (max-width: 480px)

