@import "compass/reset"
@import "compass/css3"

.fancybox-outer
  +border-radius(20px)
  +opacity(0.5)

html, body
  background-color: black
  font-family: "Abadi MT W02 Exra Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif

.page
  margin-top: 140px

.visual
  text-align: center
  img
    cursor: pointer
    +border-radius(20px)
    +box-shadow(#70829A 0px 0px 50px)

.gallery
  display: hidden


